---
layout: page
title: "About"
description: "<div style='padding:12px;'>
    <a href='http://tg.com'
        style='color:#64B5F6; text-decoration:underline; text-underline-offset:4px; text-decoration-color:#2196F3; margin-right:15px;'>TG群聊</a>
    <span style='color:#555;'>•</span>
    <a href='http://myshop.com'
        style='color:#64B5F6; text-decoration:underline; text-underline-offset:4px; text-decoration-color:#2196F3; margin-left:15px;'>小店地址</a>
</div>"
header-img: "img/about-me.jpg"
header-mask: 0.3
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>